:root {
    --color-grey-3: #23272A;
    --color-grey-2: #2C2F33;
    --color-grey-1: #99AAB5;
    --color-blue: #7289DA;
    --color-white: #FFFFFF;
}

body {
    margin: auto;
    background: var(--color-grey-2);
    color: var(--color-white);
    font-size: 16px;
    line-height: 1.3;
    max-width: 80%;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
}

pre, code {
    background: var(--color-grey-3);
    tab-size: 4;
    -moz-tab-size: 4;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
}

a[href] {
    color: var(--color-blue);
}

article {
    margin: 2.5% auto;
}

header, footer {
    margin: 2.5% -6px;
    border: 2px solid var(--color-white);
    padding: 5px;
    font-size: 20px;
}

h1 aside, h2 aside, h3 aside, h4 aside, h5 aside {
    display: inline;
    font-weight: normal;
    font-size: smaller;
}

table.summary tr:first-child > td > :first-child {
    margin-top: 0;
}

table.summary tr:last-child > td > :last-child {
    margin-bottom: 0;
}

table.summary th, table.summary td {
    text-align: left;
    vertical-align: top;
    padding-left: 0;
    padding-right: 1em;
}

.no-substance {
    color: var(--color-grey);
}

a:target {
    color: var(--color-blue);
}

img[src="git.png"] {
    opacity: 0.8;
}

.expander {
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: right;
    width: 50px;
    margin-right: -50px;
    right: 56px;
    font-size: 14px;
}

.index-tree {
    list-style-type: square;
}

.mono {
    font-family: monospace;
}


.declaration {
    display: inline-block;
    position: relative;
    text-align: right;
    width: 100px;
    margin-right: -100px;
    right: 105px;
    font-style: italic;
    color: var(--color-grey-1);
    font-family: monospace;
}

.section-name {
    border-bottom: 1px solid var(--color-white);
}

.path {
    font-family: monospace;
    font-weight: normal;
}

.file-link {
    text-decoration: none;
    color: var(--color-white);
}