[package]
name = "dmm-tools-cli"
version = "1.3.1"
authors = ["Tad Hardesty <tad@platymuus.com>"]
description = "BYOND map rendering and analysis tools powered by SpacemanDMM"
edition = "2018"

[[bin]]
name = "dmm-tools"
path = "src/main.rs"

[dependencies]
structopt = "0.3.26"
structopt-derive = "0.4.18"
serde = "1.0.136"
serde_derive = "1.0.136"
serde_json = "1.0.79"
rayon = "1.5.2"
dreammaker = { path = "../dreammaker" }
dmm-tools = { path = "../dmm-tools", features = ["png"] }
ahash = "0.7.6"

[build-dependencies]
chrono = "0.4.19"
git2 = { version = "0.14.2", default-features = false }
