[package]
name = "dreammaker"
version = "0.1.0"
authors = ["Tad Hardesty <tad@platymuus.com>"]
edition = "2018"

[dependencies]
interval-tree = { path = "../interval-tree" }
builtins-proc-macro = { path = "../builtins-proc-macro" }
lodepng = "3.1.0"
bitflags = "1.0.3"
termcolor = "1.0.4"
ordered-float = "2.0.0"
serde = { version = "1.0.103", features = ["derive"] }
serde_derive = "1.0.103"
toml = "0.5.5"
guard = "0.5.0"
phf = { version = "0.10.0", features = ["macros"] }
color_space = "0.5.3"
ahash = "0.7.6"
indexmap = "1.7.0"
parking_lot = "0.12.0"

[dev-dependencies]
walkdir = "2.0.1"
